<main class="page">
    <app-header-block heading="MEMORIZE"></app-header-block>

    <section class="content">
        @if (gameOptions$ | async; as gameOptions) {
            @if (times$ | async; as times) {
                <div class="layout" [ngClass]="true ? 'count-' + times.length.toString() : ''">
                    @for (time of times; track time; let index = $index) {
                        <app-card [index]="index + 1">
                            <app-clock-face [time]="time" [dialOptions]="gameOptions.dialOptions"> </app-clock-face>
                        </app-card>
                    }
                </div>
            }
        }
    </section>

    <app-footer-block heading="{{ countdown$ | async }} seconds remaining">
        <app-svg-image-button icon="stop" caption="stop" (click)="onNext()" appEnterClick></app-svg-image-button>
    </app-footer-block>
</main>
