<main class="page">
    <app-header-block heading="SCORES"></app-header-block>

    <section class="content">
        <div class="layout-constraint">
            @if (showTimeoutMessage()) {
                <app-card class="timeout-message">
                    Time's up! Your score with be based on the entries available when the time ran out.
                </app-card>
            }

            @if (sessionScore$ | async; as sessionScore) {
                <div class="session-scores">
                    <app-session-score-card [score]="sessionScore"></app-session-score-card>
                </div>
            }

            @if (gameScores$ | async; as gameScores) {
                <div class="game-scores" [ngClass]="true ? 'count-' + gameScores.length.toString() : ''">
                    @for (gameScore of gameScores; track gameScore; let index = $index) {
                        <app-game-score-card [index]="index" [score]="gameScore"> </app-game-score-card>
                    }
                </div>
            }
        </div>
    </section>

    <app-footer-block heading="What next?">
        <app-svg-image-button icon="introduction" caption="intro" routerLink="/introduction"> </app-svg-image-button>

        <app-svg-image-button icon="options" caption="options" routerLink="/options"></app-svg-image-button>

        <app-svg-image-button icon="replay" caption="play again" appEnterClick (click)="playAgain()">
        </app-svg-image-button>
    </app-footer-block>
</main>
