<main class="page">
    <app-header-block heading="OPTIONS"></app-header-block>

    <section class="content default-padding">
        <form [formGroup]="form">
            <ul>
                <li>
                    <app-options-card heading="Theme">
                        <ul class="group-list horizontal">
                            <li>
                                <label>
                                    <input type="radio" formControlName="theme" [value]="Theme.light"> Light
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" formControlName="theme" [value]="Theme.dark"> Dark
                                </label>
                            </li>
                        </ul>
                    </app-options-card>
                </li>
                <li>
                    <app-options-card heading="Number of clocks">
                        <ul class="group-list horizontal">
                            <li>
                                <label>
                                    <input type="radio" formControlName="numberOfClocks" [value]="1"> 1
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" formControlName="numberOfClocks" [value]="2"> 2
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" formControlName="numberOfClocks" [value]="4"> 4
                                </label>
                            </li>
                        </ul>
                    </app-options-card>
                </li>
                <li>
                    <app-options-card formGroupName="dialOptions" heading="Clock face">
                        <ul class="group-list">
                            <li>
                                <label>
                                    <input type="checkbox" formControlName="isTwentyFourHour">
                                    Show am/pm indicators
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" formControlName="showSecondHand"> Show second hand
                                </label>
                            </li>
                            <li>
                                <div class="prompt">
                                    Show markers
                                </div>
                                <ul class="group-list horizontal-to-vertical">
                                    <li>
                                        <label>
                                            <input type="radio" formControlName="dialInterval"
                                                [value]="DialInterval.none">
                                            None
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" formControlName="dialInterval"
                                                [value]="DialInterval.quarterHour">
                                            Quarter hour intervals
                                        </label>

                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" formControlName="dialInterval"
                                                [value]="DialInterval.fiveMinute">
                                            Five minute intervals
                                        </label>
                                    </li>
                                    <li>
                                        <label>

                                            <input type="radio" formControlName="dialInterval"
                                                [value]="DialInterval.minute">
                                            One minute intervals
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </app-options-card>
                </li>
                <li>
                    <app-options-card heading="Countdown timers">
                        <ul class="group-list">
                            <li>
                                <span class="countdown-type">Memorize</span>
                                <select formControlName="secondsToDisplay">
                                    <option *ngFor="let period of validPeriodsInSeconds" [ngValue]="period">
                                        {{period}}
                                    </option>
                                </select> seconds
                            </li>
                            <li>
                                <span class="countdown-type">Recall</span>
                                <select formControlName="secondsToRespond">
                                    <option *ngFor="let period of validPeriodsInSeconds" [ngValue]="period">
                                        {{period}}
                                    </option>
                                </select> seconds
                            </li>
                        </ul>
                    </app-options-card>
                </li>
            </ul>
        </form>
    </section>

    <app-footer-block heading="Let's play">
        <app-svg-image-button icon="next" caption="next" routerLink="/game" appEnterClick></app-svg-image-button>
    </app-footer-block>
</main>