<app-card>
    <div class="score total-score">
        <p>Total score</p>
        <p class="score-value">{{score.totalScore}}</p>
    </div>

    <div class="score games-played">
        <p>Games played</p>
        <p class="score-value">{{score.gamesPlayed}}</p>
    </div>

    <div class="score clocks-displayed">
        <p>Clocks displayed</p>
        <p class="score-value">{{score.timesDisplayed}}</p>
    </div>

    <div class="score correct">
        <p>Correct</p>
        <p class="score-value">{{score.correctCount}}</p>
    </div>

    <div class="score partially-correct">
        <p>Partially correct</p>
        <p class="score-value">{{score.partiallyCorrectCount}}</p>
    </div>

    <div class="score incorrect">
        <p>Incorrect</p>
        <p class="score-value">{{score.incorrectCount}}</p>
    </div>
</app-card>