@switch (currentGameStage$ | async) {
    @case (GameStage.pending) {
        <app-game-pending (next)="startCommitToMemoryCountdown()"> </app-game-pending>
    }
    @case (GameStage.commitToMemoryCountdown) {
        <app-game-memorize (next)="startRecallCountdown()"> </app-game-memorize>
    }
    @case (GameStage.recallCountdown) {
        <app-game-recall (next)="score()"></app-game-recall>
    }
    @case (GameStage.timedOut) {
        <app-scores [showTimeoutMessage]="true"></app-scores>
    }
    @case (GameStage.complete) {
        <app-scores [showTimeoutMessage]="false"></app-scores>
    }
}
