<section class="guide">
    <div class="for desktop-minimum">desktop-minimum</div>
    <div class="for desktop-small">desktop-small</div>
    <div class="for desktop-reduced">desktop-reduced</div>
    <div class="for desktop">desktop</div>
    <div class="for desktop-hd">desktop-hd</div>
    <div class="for desktop-4k">desktop-4k</div>

    <div class="for phone-landscape">phone-landscape</div>
    <div class="for phone-plus-landscape">phone-plus-landscape</div>

    <div class="for tablet-landscape">tablet-landscape</div>
    <div class="for tablet-portrait">tablet-portrait</div>

    <div class="for phone-portrait">phone-portrait</div>
    <div class="for phone-plus-portrait">phone-plus-portrait</div>

    <div class="for tablet-plus-portrait">tablet-plus-portrait</div>
    <div class="for tablet-plus-landscape">tablet-plus-landscape</div>
</section>